<ion-modal
[trigger]="isOpen"
[initialBreakpoint]="0.25"
[breakpoints]="[0, 0.25, 0.5, 0.75]"
handleBehavior="cycle"
>
<ng-template>
  <ion-content class="ion-padding">
    <div class="ion-margin-top">
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="2">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          </ion-col>
          <ion-col size="7" offset="1">
            <ion-text>
              <h1>PAYET Jordan</h1>
            </ion-text>
            <ion-text>
              Voir mon profil
            </ion-text>
          </ion-col>
          <ion-col size="2">
            <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-button fill="clear" color="light">
              <ion-icon slot="icon-only" name="chevron-forward-outline" size="large"></ion-icon>
            </ion-button>
          </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-margin-top yellow-divider">
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </ion-content>
</ng-template>
</ion-modal>
