<ion-content *ngIf="isLoading">
  <ion-grid class="container-center">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">Accueil</ion-title>
    <ion-icon slot="end" name="ellipsis-vertical-outline" size="large" (click)="test()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-between">
      <ion-col size="10">
        <ion-text>
          <h1>Bonjour</h1>
        </ion-text>
      </ion-col>
      <ion-col size="2">
        <h1>
          <ion-icon name="ellipsis-vertical-circle-outline" size="large"></ion-icon>
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Prêt à te surpasser ?</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-between">
      <ion-col size="6">
        <ion-text>
          <h1>Bonjour</h1>
        </ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="analytics-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="notifications-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="settings-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Prêt à te surpasser ?</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->


<ion-content class="ion-padding" *ngIf="!isLoading">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-between">
      <ion-col size="6">
        <ion-text>
          <h1>Bonjour</h1>
        </ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" color="light">
          <ion-icon slot="icon-only" name="analytics-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" color="light">
          <ion-icon slot="icon-only" name="notifications-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" color="light">
          <ion-icon slot="icon-only" name="settings-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <blockquote>
        <p>L'échec est simplement la première étape vers le succès. Ce n'est pas un échec tant que vous n'abandonnez
          pas.</p>
        <p>Michael Jordan</p>
      </blockquote>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-between">
      <ion-text>
        <h2>Mes statistiques</h2>
      </ion-text>
    </ion-row>
    <ion-card color="medium ion-margin-top">
      <ion-row class="ion-align-items-center ion-justify-content-between">
        <ion-col size="8">
          <ion-card-header>
            <ion-card-title>Kcal</ion-card-title>
            <ion-card-subtitle>
              <ion-text color="tertiary">Total calories brûlées</ion-text>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="primary">
              2685 Kcal
            </ion-text>
          </ion-card-content>
        </ion-col>
        <ion-col size="4" class="d-flex justify-content-center">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card color="medium ion-margin-top">
      <ion-row class="ion-align-items-center ion-justify-content-between">
        <ion-col size="8">
          <ion-card-header>
            <ion-card-title>Kcal</ion-card-title>
            <ion-card-subtitle>
              <ion-text color="tertiary">Total calories brûlées</ion-text>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="primary">
              2685 Kcal
            </ion-text>
          </ion-card-content>
        </ion-col>
        <ion-col size="4" class="d-flex justify-content-center">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card color="medium ion-margin-top">
      <ion-row class="ion-align-items-center ion-justify-content-between">
        <ion-col size="8">
          <ion-card-header>
            <ion-card-title>Kcal</ion-card-title>
            <ion-card-subtitle>
              <ion-text color="tertiary">Total calories brûlées</ion-text>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="primary">
              2685 Kcal
            </ion-text>
          </ion-card-content>
        </ion-col>
        <ion-col size="4" class="d-flex justify-content-center">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
  <ion-button expand="block" class="ion-margin-top">Commencer une séance</ion-button>
</ion-content>
