<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" fill="clear" color="light">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-img style="pointer-events:none"
        src="https://images.pexels.com/photos/34407/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=650&w=940"></ion-img>
    </ion-row>
    <ion-row class="ion-justify-content-end">
      <ion-col size="2">
        <ion-icon name="heart-outline" size="medium"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="add-outline" size="medium"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: -10px;">
      <ion-col class="yellow-divider">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-text>
        <h2>Description</h2>
      </ion-text>
    </ion-row>
    <ion-row style="margin-top: -10px;">
      <ion-col class="gray-divider">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-text>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente architecto adipisci aut nemo beatae iusto
          dolores atque, quasi illo porro provident ea maiores? Reprehenderit, repellendus eos cum rerum harum culpa!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente architecto adipisci aut nemo beatae iusto
          dolores atque, quasi illo porro provident ea maiores? Reprehenderit, repellendus eos cum rerum harum culpa!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente architecto adipisci aut nemo beatae iusto
          dolores atque, quasi illo porro provident ea maiores? Reprehenderit, repellendus eos cum rerum harum culpa!
        </p>
      </ion-text>
    </ion-row>

    <ion-row>
      <ion-text>
        <h2>Muscles ciblés</h2>
      </ion-text>
    </ion-row>
    <ion-row style="margin-top: -10px;">
      <ion-col class="gray-divider">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-text>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente architecto adipisci aut nemo beatae iusto
          dolores atque, quasi illo porro provident ea maiores? Reprehenderit, repellendus eos cum rerum harum culpa!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente architecto adipisci aut nemo beatae iusto
          dolores atque, quasi illo porro provident ea maiores? Reprehenderit, repellendus eos cum rerum harum culpa!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente architecto adipisci aut nemo beatae iusto
          dolores atque, quasi illo porro provident ea maiores? Reprehenderit, repellendus eos cum rerum harum culpa!
        </p>
      </ion-text>
    </ion-row>
  </ion-grid>
</ion-content>
