
:root {
	--ion-color-primary: #F6C90E;
	--ion-color-primary-rgb: 246,201,14;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #d8b10c;
	--ion-color-primary-tint: #f7ce26;

	// --ion-color-secondary: #F8D74E;
	// --ion-color-secondary-rgb: 248,215,78;
	// --ion-color-secondary-contrast: #000000;
	// --ion-color-secondary-contrast-rgb: 0,0,0;
	// --ion-color-secondary-shade: #dabd45;
	// --ion-color-secondary-tint: #f9db60;

	// --ion-color-tertiary: #FAE386;
	// --ion-color-tertiary-rgb: 250,227,134;
	// --ion-color-tertiary-contrast: #000000;
	// --ion-color-tertiary-contrast-rgb: 0,0,0;
	// --ion-color-tertiary-shade: #dcc876;
	// --ion-color-tertiary-tint: #fbe692;

  --ion-color-secondary: #303841;
	--ion-color-secondary-rgb: 48,56,65;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #2a3139;
	--ion-color-secondary-tint: #454c54;

	--ion-color-tertiary: #232930;
	--ion-color-tertiary-rgb: 35,41,48;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #1f242a;
	--ion-color-tertiary-tint: #393e45;

	--ion-color-success: #2C7808;
	--ion-color-success-rgb: 44,120,8;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #276a07;
	--ion-color-success-tint: #418621;

	--ion-color-warning: #AC5708;
	--ion-color-warning-rgb: 172,87,8;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 255,255,255;
	--ion-color-warning-shade: #974d07;
	--ion-color-warning-tint: #b46821;

	--ion-color-danger: #8E0808;
	--ion-color-danger-rgb: 142,8,8;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #7d0707;
	--ion-color-danger-tint: #992121;

	--ion-color-medium: #303841;
	--ion-color-medium-rgb: 48,56,65;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #2a3139;
	--ion-color-medium-tint: #454c54;

	--ion-color-light: #D9D9D9;
	--ion-color-light-rgb: 217,217,217;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #bfbfbf;
	--ion-color-light-tint: #dddddd;

  --ion-toolbar-background: #303841;

  --ion-tab-bar-background: var(--ion-color-primary);

  --ion-background-color: #303841;
  --ion-background-color-rgb: 48,56,65;

  --ion-text-color: #D9D9D9;
  --ion-text-color-rgb: 217,217,217;

  --ion-color-step-50: #384049;
  --ion-color-step-100: #414850;
  --ion-color-step-150: #495058;
  --ion-color-step-200: #52585f;
  --ion-color-step-250: #5a6067;
  --ion-color-step-300: #63686f;
  --ion-color-step-350: #6b7076;
  --ion-color-step-400: #74787e;
  --ion-color-step-450: #7c8085;
  --ion-color-step-500: #85898d;
  --ion-color-step-550: #8d9195;
  --ion-color-step-600: #95999c;
  --ion-color-step-650: #9ea1a4;
  --ion-color-step-700: #a6a9ab;
  --ion-color-step-750: #afb1b3;
  --ion-color-step-800: #b7b9bb;
  --ion-color-step-850: #c0c1c2;
  --ion-color-step-900: #c8c9ca;
  --ion-color-step-950: #d1d1d1;

}

