<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-between">
      <ion-col size="6">
        <ion-text>
          <h1>Bonjour</h1>
        </ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="analytics-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="notifications-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="settings-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Prêt à te surpasser ?</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

