<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="planet-outline" size="large"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="exercices">
      <ion-icon name="search-outline" size="large"></ion-icon>
      <ion-label>Exercices</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="activities">
      <ion-icon name="barbell-outline" size="large"></ion-icon>
      <ion-label>Activité</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
